.customer-list
  margin: 15px auto 0
  width: 100%

.search-container
  margin: 0 auto
  display: block
  margin-bottom: 10px
  width: 300px
  
  .search
    width: 220px
    height: 30px
    font-size: 15px
    border-radius: 4px
    border: 1px solid rgba(0,0,0,0.2)

  .search-button
    color: rgba(0,0,0,0.6)
    font-size: 15px
    border: 1px solid rgba(0,0,0,0.3)
    padding: 7px 15px
    margin-left: 10px
    background: radial-gradient(circle, rgba(0, 0, 0, 0.01) 76%, rgba(0, 0, 0, 0.17) 93%)

.customer
  width: 100%
  border: 1px solid rgba(0,0,0,0.3)
  min-height: 50px
  padding: 10px 0px
  cursor: pointer
  user-select: none
  transition: all 0.3s ease

  &.open
    &:before
      width: 23px
      height: 23px
      transform: rotate(180deg)

  &:nth-child(2)
    border-top-left-radius: 5px
    border-top-right-radius: 5px
    border-bottom-style: none

  &:last-child
    border-bottom-left-radius: 5px
    border-bottom-right-radius: 5px
    border-top-style: none
  
  &:before
    width: 45px
    height: 20px
    float: left
    content: "\e605"
    display: inline-block
    font-family: 'icons'
    speak: none
    font-style: normal
    font-weight: normal
    font-variant: normal
    text-transform: none
    line-height: 1
    font-size: 23px
    margin: 3px 0px 0px 15px
    color: rgba(0,0,0,0.7)

  span
    padding: 3px 0px 3px 60px
    display: block

  .customer-content
    transition: all 0.3s ease
    width: 100%
    height: 0px
    margin-top: 10px

  .visible
    height: 350px

  .image
    width: 140px
    height: 40%
    float: left
    background-image: url('images/low_contrast_linen.png')
    margin-left: 20px
    opacity: 0.82
    overflow: hidden

  .information
    float: left
    height: 40%
    width: 70%
    margin-left: 20px
    overflow: hidden

    span
      width: 140px
      display: inline-block
      overflow: hidden
      padding: 0

      &.bold
        font-family: 'OpenSans'

  .invoices
    display: inline-block
    width: 100%
    height: 50%
    overflow: hidden
    margin-top: 20px

    .open
      width: 45%
      float: left
      overflow: hidden

    .paidInvoices
      width: 45%
      float: left
      overflow: hidden

      .amount
        color: $green

    .invoice
      line-height: 30px
      border-bottom: 1px solid rgba(0,0,0,0.2)

      &:hover
        color: rgba(0,0,0,1)

    .date
      width: 100px
      display: inline-block

    > *
      margin-left: 20px

    span
      padding: 0
      display: inline-block

      &.title
        font-family: 'OpenSans'

      &.from
        width: 170px

      &.amount
        margin-right: 15px
        float: right
        font-family: 'OpenSans'

.invoice-receipt
  width: 450px
  margin: 10px auto 0

  > div
    margin-bottom: 20px
  
  .button
    margin-right: 10px
    font-size: 15px

  .skip
    color: $blue
    cursor: pointer

  .title
    color: rgba(0,0,0,0.5)
    border-bottom: 1px solid rgba(0,0,0,0.4)
    width: 100%
    display: block
    line-height: 40px

  .detail
    width: 98%
    display: block
    border-bottom: 1px solid rgba(0,0,0,0.2)
    margin-left: 5px
    line-height: 40px

    span:first-child
      font-family: 'OpenSans'

    .right
      float: right
      margin-right: 10px
      color: rgba(0,0,0,0.6)

  .send
    margin: 0 auto
    width: 50px
    color: $blue
    cursor: pointer
    display: block

.back-button
  padding: 10px 10px
  width: 80px
  margin-top: 10px
  height: 48px
  cursor: pointer
  &:hover
    border-top: 1px solid rgba(0,0,0,0.2)
    border-bottom: 1px solid rgba(0,0,0,0.2)