.inv
  width: 100%
  margin-top: 20px

.invoiced, .paid
  float: left
  width: 50%
  margin: 0 auto

  > *
    margin: 0 auto
    width: 330px

  .title
    font-size: 20px

  .invoicedlist, .paidlist
    margin-top: 10px

  .invoice
    line-height: 30px
    border-bottom: 1px solid rgba(0,0,0,0.2)

  .from
    width: 200px
    display: inline-block
    cursor: pointer

    &:hover
      color: rgba(0,0,0,1)

  .date
    width: 100px
    display: inline-block

  .colorgreen
    color: green