.button {
  display: inline-block;
  padding: 10px 30px;
  color: white;
  border-radius: 3px;
  font-size: 19px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.green {
  background-color: #67c95f;
  background: -webkit-radial-gradient(circle, #67c95f 70%, #5db556 100%);
  background: radial-gradient(circle, #67c95f 70%, #5db556 100%);
}

.green:hover {
  background: -webkit-radial-gradient(circle, #67c95f 80%, #5db556 100%);
  background: radial-gradient(circle, #67c95f 80%, #5db556 100%);
}

.green:active {
  background: -webkit-radial-gradient(circle, #67c95f 10%, #5db556 100%);
  background: radial-gradient(circle, #67c95f 10%, #5db556 100%);
}

.neutral {
  -webkit-box-shadow: 0 0px 8px rgba(0, 0, 0, 0.3) inset;
  box-shadow: 0 0px 8px rgba(0, 0, 0, 0.3) inset;
  color: rgba(0, 0, 0, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.3);
  background: -webkit-radial-gradient(circle, rgba(0, 0, 0, 0.01) 70%, rgba(0, 0, 0, 0.1) 100%);
  background: radial-gradient(circle, rgba(0, 0, 0, 0.01) 70%, rgba(0, 0, 0, 0.1) 100%);
}

.neutral:hover {
  background: -webkit-radial-gradient(circle, rgba(0, 0, 0, 0.01) 80%, rgba(0, 0, 0, 0.15) 100%);
  background: radial-gradient(circle, rgba(0, 0, 0, 0.01) 80%, rgba(0, 0, 0, 0.15) 100%);
}

.neutral:active {
  background: -webkit-radial-gradient(circle, rgba(0, 0, 0, 0.01) 10%, rgba(0, 0, 0, 0.12) 100%);
  background: radial-gradient(circle, rgba(0, 0, 0, 0.01) 10%, rgba(0, 0, 0, 0.12) 100%);
}

.center {
  margin: 0 auto;
}

.time-container {
  width: 200px;
  margin: 120px auto 0;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.time-container.up {
  margin-top: 40px;
  width: 400px;
}

.time-container.up > * {
  margin: 0 auto;
}

.time-container .time {
  font-size: 46px;
  display: block;
  color: rgba(0, 0, 0, 0.8);
  width: 180px;
}

.time-container .start {
  padding: 14px 34px;
  margin-top: 10px;
  background-color: #67c95f;
  background: -webkit-radial-gradient(circle, #67c95f 70%, #5db556 100%);
  background: radial-gradient(circle, #67c95f 70%, #5db556 100%);
}

.time-container .start:hover {
  background: -webkit-radial-gradient(circle, #67c95f 80%, #5db556 100%);
  background: radial-gradient(circle, #67c95f 80%, #5db556 100%);
}

.time-container .start:active {
  background: -webkit-radial-gradient(circle, #67c95f 10%, #5db556 100%);
  background: radial-gradient(circle, #67c95f 10%, #5db556 100%);
}

.time-container .stop {
  padding: 14px 34px;
  margin-top: 10px;
  background-color: #ae534a;
  background: -webkit-radial-gradient(circle, #ae534a 70%, #9d4b43 100%);
  background: radial-gradient(circle, #ae534a 70%, #9d4b43 100%);
}

.time-container .stop:hover {
  background: -webkit-radial-gradient(circle, #ae534a 80%, #9d4b43 100%);
  background: radial-gradient(circle, #ae534a 80%, #9d4b43 100%);
}

.time-container .stop:active {
  background: -webkit-radial-gradient(circle, #ae534a 10%, #9d4b43 100%);
  background: radial-gradient(circle, #ae534a 10%, #9d4b43 100%);
}

.time-container .time-form {
  width: 305px;
  margin: 0 auto;
}

.time-container .time-form label {
  display: block;
  width: 80px;
}

.time-container .time-form .submit {
  margin-top: 10px;
  display: block;
  text-align: center;
}

.time-container .time-form .users-button {
  display: block;
  text-align: center;
}

.time-container .time-form .selected-customers {
  list-style: circle;
}

.user-item {
  display: block;
  border: 1px solid rgba(0, 0, 0, 0.3);
  text-align: center;
  width: 300px;
  height: 50px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.user-item:hover:before {
  content: "\e604";
  font-family: "icons";
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  color: green;
  margin-top: 12px;
  font-size: 23px;
}

.user-item:before {
  width: 50px;
  height: 20px;
  float: left;
  content: "";
  display: inline-block;
}

.user-item:first-child {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-style: none;
}

.user-item:last-child {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border-top-style: none;
}

.user-item.selected:before {
  width: 50px;
  height: 20px;
  float: left;
  content: "\e604";
  display: inline-block;
  font-family: "icons";
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  color: green;
  margin-top: 12px;
  font-size: 23px;
}

.user-item span {
  display: inline-block;
  padding: 13px 0px;
  float: left;
}

.users {
  margin-top: 125px;
}

.customer-list {
  margin: 15px auto 0;
  width: 100%;
}

.customer {
  width: 100%;
  border: 1px solid rgba(0, 0, 0, 0.3);
  min-height: 50px;
  padding: 10px 0px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.customer.open:before {
  width: 23px;
  height: 23px;
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}

.customer:first-child {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-style: none;
}

.customer:last-child {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border-top-style: none;
}

.customer:before {
  width: 45px;
  height: 20px;
  float: left;
  content: "\e605";
  display: inline-block;
  font-family: "icons";
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  font-size: 23px;
  margin: 3px 0px 0px 15px;
  color: rgba(0, 0, 0, 0.7);
}

.customer span {
  padding: 3px 0px 3px 60px;
  display: block;
}

.customer .customer-content {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  width: 100%;
  height: 0px;
  margin-top: 10px;
}

.customer .visible {
  height: 155px;
}

.customer .image {
  width: 140px;
  height: 100%;
  float: left;
  background-image: url("images/low_contrast_linen.png");
  margin-left: 20px;
  opacity: 0.82;
}

.customer .information {
  float: left;
  height: 100%;
  width: 36.5%;
  margin-left: 30px;
  overflow: hidden;
}

.customer .information span {
  width: 150px;
  display: inline-block;
  overflow: hidden;
  padding: 0;
}

.customer .information span.bold {
  font-family: "OpenSans";
}

.customer .invoices {
  float: left;
  width: 35%;
  height: 100%;
  overflow: hidden;
  border-left: 1px solid rgba(0, 0, 0, 0.3);
}

.customer .invoices > * {
  margin-left: 20px;
}

.customer .invoices span {
  padding: 0;
  display: inline-block;
}

.customer .invoices span.title {
  font-family: "OpenSans";
}

.customer .invoices span.from {
  width: 170px;
}

.customer .invoices span.amount {
  padding-left: 30px;
  font-family: "OpenSans";
}

.inv {
  width: 100%;
  margin-top: 20px;
}

.invoiced,
.paid {
  float: left;
  width: 50%;
  margin: 0 auto;
}

.invoiced > *,
.paid > * {
  margin: 0 auto;
  width: 330px;
}

.invoiced .title,
.paid .title {
  font-size: 20px;
}

.invoiced .invoicedlist,
.invoiced .paidlist,
.paid .invoicedlist,
.paid .paidlist {
  margin-top: 10px;
}

.invoiced .invoice,
.paid .invoice {
  line-height: 30px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.invoiced .from,
.paid .from {
  width: 200px;
  display: inline-block;
  cursor: pointer;
}

.invoiced .from:hover,
.paid .from:hover {
  color: black;
}

.invoiced .date,
.paid .date {
  width: 100px;
  display: inline-block;
}

.invoiced .colorgreen,
.paid .colorgreen {
  color: green;
}

*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  min-width: 300px;
  background-color: rgba(251, 255, 246, 0.9);
  font-family: "OpenSansLight";
  color: rgba(0, 0, 0, 0.8);
}

.container {
  margin: 0 auto;
}

.navigation {
  padding: 0;
}

.navigation ul {
  list-style: none;
  margin: 0;
  padding: 0;
  height: 80px;
}

.navigation li {
  float: left;
  height: 80px;
  width: 33.33%;
  min-width: 100px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0 0px 8px rgba(0, 0, 0, 0.3) inset;
  box-shadow: 0 0px 8px rgba(0, 0, 0, 0.3) inset;
  background: -webkit-radial-gradient(circle, rgba(0, 0, 0, 0.01) 70%, rgba(0, 0, 0, 0.1) 100%);
  background: radial-gradient(circle, rgba(0, 0, 0, 0.01) 70%, rgba(0, 0, 0, 0.1) 100%);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
  display: inline-block;
}

.navigation li:active {
  background: -webkit-radial-gradient(circle, rgba(0, 0, 0, 0.01) 33%, rgba(0, 0, 0, 0.15) 90%);
  background: radial-gradient(circle, rgba(0, 0, 0, 0.01) 33%, rgba(0, 0, 0, 0.15) 90%);
}

.navigation li:hover {
  background: -webkit-radial-gradient(circle, rgba(0, 0, 0, 0.01) 30%, rgba(0, 0, 0, 0.12) 90%);
  background: radial-gradient(circle, rgba(0, 0, 0, 0.01) 30%, rgba(0, 0, 0, 0.12) 90%);
}

.navigation li:first-child {
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-right: none;
  border-bottom-left-radius: 5px;
}

.navigation li:last-child {
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-left: none;
  border-bottom-right-radius: 5px;
}

.navigation li.selected {
  background: -webkit-radial-gradient(circle, rgba(0, 0, 0, 0.06) 30%, rgba(0, 0, 0, 0.25) 90%);
  background: radial-gradient(circle, rgba(0, 0, 0, 0.06) 30%, rgba(0, 0, 0, 0.25) 90%);
}

.navigation li .text {
  width: 100px;
  margin: 10px auto 0;
  text-align: center;
  font-size: 15px;
}

.content-container {
  width: 100%;
}

.content {
  width: 100%;
  -webkit-transition: all 0.6s ease;
  transition: all 0.6s ease;
  float: left;
}

.content.left {
  width: 50%;
}

.bold {
  font-family: "OpenSans";
}

@media only screen and (min-width: 768px) {
  .container {
    min-width: 85%;
    width: 768px;
  }
}

@media only screen and (min-width: 1140px) {
  body {
    min-width: 85%;
    width: 1140px;
  }
}

@font-face {
  font-family: "OpenSansLight";
  src: url("fonts/OpenSans-Light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "OpenSans";
  src: url("fonts/OpenSans-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "icons";
  src: url("fonts/icons.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"],
[class*=" icon-"] {
  font-family: "icons";
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-clock:before {
  content: "\e600";
}

.icon-users:before {
  content: "\e601";
}

.icon-stopwatch:before {
  content: "\e602";
}

.icon-envelope:before {
  content: "\e603";
}

.icon-checkmark:before {
  content: "\e604";
}

.icon-arrow-down:before {
  content: "\e605";
}

.icon {
  font-size: 38px;
  color: rgba(0, 0, 0, 0.6);
}