.timer {
  width: 200px;
  margin: 120px auto 0;
}

.timer .time {
  font-size: 46px;
  display: block;
  color: rgba(0, 0, 0, 0.8);
}

.timer .start {
  display: inline-block;
  margin-top: 10px;
  padding: 14px 34px;
  background-color: #67c95f;
  background: -webkit-radial-gradient(circle, #67c95f 70%, #5db556 100%);
  background: radial-gradient(circle, #67c95f 70%, #5db556 100%);
  color: white;
  border-radius: 3px;
  font-size: 19px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.timer .start:hover {
  background: -webkit-radial-gradient(circle, #67c95f 80%, #5db556 100%);
  background: radial-gradient(circle, #67c95f 80%, #5db556 100%);
}

.timer .start:active {
  background: -webkit-radial-gradient(circle, #67c95f 10%, #5db556 100%);
  background: radial-gradient(circle, #67c95f 10%, #5db556 100%);
}

body {
  margin: 0 auto;
  min-width: 300px;
  background-color: rgba(251, 255, 246, 0.9);
  font-family: "OpenSansLight";
}

.container {
  margin: 15px auto 0;
}

.navigation {
  padding: 0;
}

.navigation ul {
  list-style: none;
  margin: 0;
  padding: 0;
  height: 80px;
}

.navigation li {
  float: left;
  height: 80px;
  width: 33%;
  min-width: 100px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0 0px 8px rgba(0, 0, 0, 0.3) inset;
  box-shadow: 0 0px 8px rgba(0, 0, 0, 0.3) inset;
  background: -webkit-radial-gradient(circle, rgba(0, 0, 0, 0.01) 70%, rgba(0, 0, 0, 0.1) 100%);
  background: radial-gradient(circle, rgba(0, 0, 0, 0.01) 70%, rgba(0, 0, 0, 0.1) 100%);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
}

.navigation li:active {
  background: -webkit-radial-gradient(circle, rgba(0, 0, 0, 0.01) 33%, rgba(0, 0, 0, 0.15) 90%);
  background: radial-gradient(circle, rgba(0, 0, 0, 0.01) 33%, rgba(0, 0, 0, 0.15) 90%);
}

.navigation li:hover {
  background: -webkit-radial-gradient(circle, rgba(0, 0, 0, 0.01) 30%, rgba(0, 0, 0, 0.12) 90%);
  background: radial-gradient(circle, rgba(0, 0, 0, 0.01) 30%, rgba(0, 0, 0, 0.12) 90%);
}

.navigation li:first-child {
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-right: none;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
}

.navigation li:last-child {
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-left: none;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
}

.navigation li .text {
  width: 100px;
  margin: 10px auto 0;
  text-align: center;
  font-size: 15px;
}

.content {
  clear: both;
}

@media only screen and (min-width: 768px) {
  .container {
    min-width: 85%;
    width: 768px;
  }
}

@media only screen and (min-width: 1140px) {
  body {
    min-width: 85%;
    width: 1140px;
  }
}

@font-face {
  font-family: "OpenSansLight";
  src: url("fonts/OpenSans-Light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "icons";
  src: url("fonts/icons.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"],
[class*=" icon-"] {
  font-family: "icons";
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-clock:before {
  content: "\e600";
}

.icon-users:before {
  content: "\e601";
}

.icon-stopwatch:before {
  content: "\e602";
}

.icon-envelope:before {
  content: "\e603";
}

.icon {
  font-size: 38px;
  color: rgba(0, 0, 0, 0.6);
}