.timer
  width: 200px
  margin: 120px auto 0

  .time
    font-size: 46px
    display: block
    color: rgba(0,0,0,0.8)

  .start
    display: inline-block
    margin-top: 10px
    padding: 14px 34px
    background-color: rgb(103, 201, 95)
    background: radial-gradient(circle, rgb(103, 201, 95) 70%, #5DB556 100%)
    color: white
    border-radius: 3px
    font-size: 19px
    cursor: pointer
    user-select: none

    &:hover
      background: radial-gradient(circle, rgb(103, 201, 95) 80%, #5DB556 100%)

    &:active
      background: radial-gradient(circle, rgb(103, 201, 95) 10%, #5DB556 100%)
