.button
  display: inline-block
  padding: 10px 30px
  color: white
  border-radius: 3px
  font-size: 19px
  cursor: pointer
  user-select: none

.green
  background-color: $green
  background: radial-gradient(circle, $green 70%, #5DB556 100%)

  &:hover
    background: radial-gradient(circle, $green 80%, #5DB556 100%)

  &:active
    background: radial-gradient(circle, $green 10%, #5DB556 100%)

.red
  background-color: $red
  background: radial-gradient(circle, $red 70%, #9D4B43 100%)

  &:hover
    background: radial-gradient(circle, $red 80%, #9D4B43 100%)

  &:active
    background: radial-gradient(circle, $red 10%, #9D4B43 100%)

.neutral
  box-shadow: 0 0px 8px rgba(0, 0, 0, 0.3) inset
  color: rgba(0,0,0,0.8)
  border: 1px solid rgba(0, 0, 0, 0.3)
  background: radial-gradient(circle, rgba(0, 0, 0, 0.01) 70%, rgba(0, 0, 0, 0.1) 100%)
  &:hover
    background: radial-gradient(circle, rgba(0, 0, 0, 0.01) 80%, rgba(0, 0, 0, 0.15) 100%)

  &:active
    background: radial-gradient(circle, rgba(0, 0, 0, 0.01) 10%, rgba(0, 0, 0, 0.12) 100%)

.center
  margin: 0 auto

.arrow
  font-size: 16px

.back
  font-family: 'OpenSans'
  font-size: 17px

.hidden
  display: none

.continue
  padding: 10px 10px
  width: 80px
  margin-top: 10px
  height: 48px
  cursor: pointer
  &:hover
    border-top: 1px solid rgba(0,0,0,0.2)
    border-bottom: 1px solid rgba(0,0,0,0.2)

.add
  border: 1px solid rgba(0,0,0,0.3)
  float: right
  margin-top: 10px
  
  span 
    color: rgba(0,0,0,0.7)
    font-size: 13px
    float: left
    margin-top: 4px

    &:before
      content: "+"
      display: inline-block
      font-size: 30px
      float: left
      margin-top: -4px
      line-height: 25px

.records
  border: 1px solid rgba(0,0,0,0.2)
  float: left
  margin-top: 10px
  color: rgba(0,0,0,0.7)
  font-size: 16px
  padding: 15px 30px

  span
    font-family: 'OpenSansLight'
    margin-left: 10px
    font-size: 14px
    display: inline-block
    float: left
    margin-top: 2px


.time-container
  width: 200px
  margin: 120px auto 0
  transition: all 0.3s ease

  &.up
    margin-top: 40px
    width: 400px

    > *
      margin: 0 auto

  .time
    font-size: 46px
    display: block
    color: rgba(0,0,0,0.8)
    width: 185px
    font-family: 'OpenSansLight'
    margin-bottom: 15px

  .start
    padding: 14px 34px
    margin-top: 10px
    background-color: $green
    background: radial-gradient(circle, $green 70%, #5DB556 100%)

    &:hover
      background: radial-gradient(circle, $green 80%, #5DB556 100%)

    &:active
      background: radial-gradient(circle, $green 10%, #5DB556 100%)

  .reset
    padding: 14px 34px
    margin-top: 10px
    background-color: $blue
    background: radial-gradient(circle, $blue 70%, #1779E3 100%)

    &:hover
      background: radial-gradient(circle, $blue 80%, #1779E3 100%)

    &:active
      background: radial-gradient(circle, $blue 10%, #1779E3 100%)

  .stop
    padding: 14px 34px
    margin-top: 10px
    background-color: $red
    background: radial-gradient(circle, $red 70%, #9D4B43 100%)

    &:hover
      background: radial-gradient(circle, $red 80%, #9D4B43 100%)

    &:active
      background: radial-gradient(circle, $red 10%, #9D4B43 100%)


.time-wrapper

  > *
    margin: 0 auto

  .time
    font-size: 46px
    display: block
    color: rgba(0,0,0,0.8)
    width: 185px
    font-family: 'OpenSansLight'
    margin-bottom: 15px

  .time-form
    width: 305px
    margin: 0 auto

    label
      display: block
      width: 110px

    .submit
      margin-top: 10px
      display: block
      text-align: center

    .users-button
      display: block
      text-align: center

    .selected-customers
      list-style: circle

    .billable-label
      display: inline-block
      float: left
      margin-top: 7px

    .billable
      width: 110px
      border: 1px solid rgba(0,0,0,0.4)
      margin-left: 85px
      display: inline-block
      height: 33px
      border-radius: 2px

      .off, .on
        width: 50px
        height: 100%
        border: 1px solid rgba(0,0,0,0.3)
        display: inline-block
        border-radius: 4px
        cursor: pointer
        z-index: 100
        transition: all 0.3s ease
        background-color: rgba(251, 255, 246, 1)
        position: relative

      .off
        float: left
        left: -33px

      .on
        float: left
        left: 23px

      .on-text, .off-text
        z-index: 10

      .on-text
        float: left
        margin-top: 5px
        margin-left: 10px
        color: $green

      .off-text
        float: left
        margin-top: 5px
        margin-left: -15px

    #amount-container
      margin-top: 10px

      &.hidden
        display: none

      .amount-input
        width: 65px
        height: 33px
        margin-left: 118px
        font-size: 16px
        font-family: 'OpenSansLight'
        text-align: right