<label class="billable-label" for="billable">Billable</label>
<div class="billable" name="billable">
	<span class="on-text">ON</span>
	<span id="billable-button" onclick="moveRight(this);" class="off"></span>
	<span class="off-text">OFF</span>
</div>