<div class="customer-list">
	<div class="customer"><span>Hanna-Mari Kinnunen</span></div>
  <div class="customer"><span>Patrik Vilja</span></div>
  <div class="customer"><span>Peter Vilja</span></div>
</div>