<div id="backtocustomers" class="back-button hidden" onclick="toCustomers();"><span class="arrow"><</span><span class="back">  BACK</span></div>
<div id="invoice-receipt" class="invoice-receipt"></div>
<div id="customer-list" class="customer-list">
  <div class="search-container">
    <input class="search" type="text" placeholder="Search"/><span class="icon-search button search-button"></span>
  </div>
  <div class="customer" id='hannis' onclick="showCustomer(this, 'hannamari');"><span>Hanna-Mari Kinnunen</span></div>
  <div class="customer" id='patrik' onclick="showCustomer(this, 'patrik');"><span>Patrik Vilja</span></div>
  <div class="customer" id='peter' onclick="showCustomer(this, 'peter');"><span>Peter Vilja</span></div>
</div>