<div class="customer-list">
	<div class="customer" onclick="showCustomer(this, 'hannamari');"><span>Hanna-Mari Kinnunen</span></div>
  <div class="customer" onclick="showCustomer(this, 'patrik');"><span>Patrik Vilja</span></div>
  <div class="customer" onclick="showCustomer(this, 'peter');"><span>Peter Vilja</span></div>
</div>