<div id="invoices-receipt">
	<div id="receipt-details" class="recipient-details">
		<span class="title">RECIPIENT DETAILS</span>
		<div class="detail"><span>Name</span><span class="right">Hanna-Mari Kinnunen</span></div>
		<div class="detail"><span>Company</span><span class="right">My Company</span></div>
		<div class="detail"><span>Bank account number</span><span class="right">FI 12345 56789 1001</span></div>
	</div>
	<div class="invoice-details">
		<span class="title">PAYER AND INVOICE DETAILS</span>
		<div class="detail"><span>Name</span><span class="right">{{name}}</span></div>
		<div class="detail"><span>Reference number</span><span class="right">{{invoiceId}}</span></div>
		<div class="detail"><span>Subject</span><span class="right">Gym hour</span></div>
		<div class="detail"><span>Due day</span><span class="right">29/12/13</span></div>
		<div class="detail"><span>Amount</span><span class="right">{{amount}} &euro;</span></div>
	</div>
	<span class="send">Send</span>
</div>