<div class="time-form">
  <label for="comment">Add comment:</label>
  <textarea name="comment" rows="10" cols="40"></textarea>
  <span id="users-button" class="button neutral users-button" onclick="selectUsers(this)">ADD CUSTOMERS</span>
  <div id="selected-users" class="selected-users">
    <ul id="selected-customers" class="selected-customers">
      
    </ul>
  </div>
  <div id="billable">
  
  </div>
  <div id="amount-container">
  	
  </div>
  <span class="button green submit">SUBMIT</span>
</div>