<div id="continue" class="continue hidden" onclick="toStart();"><span class="arrow"><</span><span id="back" class="back">  BACK</span></div>
<div id="new" class="add button" onclick="stopTimer();"><span>ADD WORK HOURS</span></div>
<div id="time-container" class="time-container">
	<span id="elapsed" class="time">00:00:00</span>
	<span id="timer-button" class="button start" onclick="startTimer()">START TIMER</span>
</div>