<div class="time-form">
  <label for="comment">Comment:</label>
  <textarea name="comment" rows="10" cols="40"></textarea>
  <span id="users-button" class="button neutral users-button" onclick="selectUsers()">ADD USERS</span>
  <div id="selected-users" class="selected-users">
    <ul id="selected-customers" class="selected-customers">
      
    </ul>
  </div>
  <span class="button green submit">SUBMIT</span>
</div>