<div id="user-list" class="users">
	<div class="user"><span>Hanna-Mari Kinnunen</span></div>
	<div class="user"><span>Patrik Vilja</span></div>
	<div class="user"><span>Peter Vilja</span></div>
</div>