<div id="user-list" class="users">
	<div>Select customer(s):</div>
	<div class="user-item" onclick="selectUser(this)"><span>Hanna-Mari Kinnunen</span></div>
	<div class="user-item" onclick="selectUser(this)"><span>Patrik Vilja</span></div>
	<div class="user-item" onclick="selectUser(this)"><span>Peter Vilja</span></div>
</div>